@font-face {
	font-family:"Raleway";
	src: url("images/Raleway.ttf");
}

body {
	display:block;
	font-family: Raleway, Georgia, Sans-serif;
    margin: 0;
}

header {
    display: flex;
	flex-direction: row;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
}

.header_nav_desktop {
    display: flex;
    flex-direction: row;
	justify-content: flex-end;
	align-items: center;
    width: 100%;
}

.puces_nav_desktop {
    display: flex;
    flex-direction: row;
	justify-content: flex-end;
	align-items: center;
    width: 100%;
}

li {
    list-style-type: none;
}

nav, a {
    color:#000000;
    text-decoration: none;
    padding: 18px 40px 40px 40px;
}

.nav:hover {
    color:#0065FC;
    text-decoration: none;
    padding: 40px;
    border-top: solid 2px #0065FC;
}

.inscription {
    color:#0065FC;
    font-weight:bold;
}

.titre_page {
    font-weight:bold;
    margin:0;
}

.barre_recherche {
    display: flex;
    flex-direction:row;
    width: 360px;
    height: 50px;
}

.icones {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    padding: 10px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius:45px;
    box-sizing: border-box;
    width:40px;
}

.icone_recherche {
    background-color:#F2F2F2;
    width:40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.texte_recherche {
    display:flex;
    width: 200px;
    border:solid 1px #F2F2F2;
}

.texte_form {
    display:flex;
}

.bouton_recherche {
    display:flex;
    width: 90px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color:#ffffff;
    border:none;
    font-weight:bold;
}

.texte_recherche_p {
    margin-left:15px;
    font-weight:bold;
    border: none;
}

.bouton_recherche_p {
    margin-left:15px;
    font-weight:bold;
}

.contenant_filtres {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:870px;
    margin:25px 0 25px 0;
    height:45px;
}

.titre_filtres {
    display:flex;
    font-weight:bold;
}

.bouton_filtres {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight:bold;
    border:solid 2px #F2F2F2;
    border-radius:35px;
}

.bouton_filtres_p {
    margin:auto;
    padding: 10px;
    font-weight: bold;
}

.info_ville {
    display:flex;
    flex-direction: row;
    width:440px;
    margin-bottom:20px;
}

.icone_info {
    margin:auto
}

.hebergements {
    display:flex;
    flex-direction: row;
}

.hebergements_ville {
    background-color: #F2F2F2;
    border-radius:20px;
    width:66%;
    margin-right:40px;
    padding:20px;
}

h3 {
    font-weight: bold;
    margin-left:23px;
}

.rangee_hebergements {
    display:flex;
    flex-direction: row;
}

.hebergement_miniature {
    background-color: white;
    width:33%;
    padding: 5px;
    border-radius:25px;
    margin:18px;
    box-shadow: 0px 0px 5px 0px rgb(204 204 204);
}

.img_hebergement {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size: cover;
    width: 100%;
    height: 170px;
    background-position:center;    
}

.img_hebergement1 {
    background-image: url("images/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.tarif {
    font-weight:bold;
}

.img_hebergement2 {
    background-image: url("images/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.img_hebergement3 {
    background-image: url("images/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.img_hebergement4 {
    background-image: url("images/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.img_hebergement5 {
    background-image: url("images/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.img_hebergement6 {
    background-image: url("images/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

h4 {
    font-weight: bold;
    margin: 8px 0 0 15px;
}

.prix_nuit {
    margin: 5px 5px 5px 15px; 
}

.hebergements_populaires {
    background-color: #F2F2F2;
    border-radius:20px;
    width:33%;
    padding:20px;
}

.etoiles {
    display:flex;
    flex-direction: row;
    margin: 5px 5px 5px 15px;
}

.etoile_pleine {
    color:#0065FC;
}

.etoile_vide {
    color:rgb(168, 178, 189);
}

.afficher_plus {
    text-decoration:none;
    font-weight:bold;
    color:#000000;
    padding:20px;
}

.titre_populaires {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.icones_stats {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    width:40px;
    display:flex;
    align-items: center;
    margin:0;
}

.hebergement_miniature_pop {
    display:flex;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    border-radius:25px;
    margin:18px;
    box-shadow: 0px 0px 5px 0px rgb(204 204 204);
}

.img_hebergementb {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-size: cover;
    width: 33%;
    height: 170px;
    background-position:center;
}

.img_hebergement1b {
    background-image: url("images/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.img_hebergement2b {
    background-image: url("images/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.img_hebergement3b {
    background-image: url("images/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.etoiles_pop {
    display:flex;
    flex-direction: row;
    margin: 5px 5px 5px 15px;
}

.titre_activite_principal {
    margin: 40px 23px 0;
    font-weight:bold;
}

.caracteristiques_hebergements {
    display:flex;
    flex-direction:column;
    justify-content:space-between
}

.prix_nuit_pop {
    margin: -78px 5px 5px 15px; 
}

.contenant_activites {
    width:25%;
}

.activites {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
    box-sizing: border-box;
}

.activite_grand {
    border-radius:25px;
    margin:18px; 
    box-shadow: 0px 0px 5px 0px rgb(204 204 204);
    height: 345px;
}

.img_activite {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size: cover;
    background-position:right;
}

.img_activite1 {
    background-image: url("images/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    height: 300px;
}

.titre_activite {
    font-weight:bold;
    margin-left:15px;
}

.activite_petit {
    border-radius:25px;
    margin:18px;
    box-shadow: 0px 0px 5px 0px rgb(204 204 204);
}

.activite_petit1 {
    height: 200px;
}

.activite_petit2 {
    height: 55%;
}

.activite_petit2 {
    height: 35%;
}


.img_activite2 {
    background-image: url("images/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    height: 160px;
}

.img_activite3 {
    background-image: url("images/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    height: 85px;
}

.img_activite4 {
    background-image: url("images/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    height: 300px;
}

.activite_petit3 {
    border-radius:25px;
    margin:18px; 
    box-shadow: 0px 0px 5px 0px rgb(204 204 204);
    height: 46%;
}

.img_activite5 {
    background-image: url("images/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    height: 110px;
}

.img_activite6 {
    background-image: url("images/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    height: 110px;
}

.container_footer {
    display:flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
}

.footer {
    background-color: #F2F2F2;
    margin-top:50px;
}

.section_footer {
    margin-left:40px;
    margin-right:220px;
}


