@font-face {
	font-family:"Raleway";
	src: url("images/Raleway.ttf");
}

body {
	display:block;
	font-family: Raleway, Georgia, Sans-serif;
    margin: 0;
}


.header_desktop {
    display: flex;
	flex-direction: row;
}

.header_mobile {
    display:none;
}

ul {
    padding-inline-start: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.header_nav_desktop {
    display: flex;
    flex-direction: row;
	justify-content: flex-end;
    width: 100%;
    align-items:center;
}

.puces_nav_desktop {
    display: flex;
    flex-direction: row;
	justify-content: flex-end;
	align-items: center;
    width: 100%;
}

li {
    list-style-type: none;
}

nav, a {
    color:#000000;
    text-decoration: none;
    padding: 20px 30px;
}

.nav:hover {
    color:#0065FC;
    text-decoration: none;
    border-top: solid 2px #0065FC;
}

.inscription {
    color:#0065FC;
    font-weight:bold;
    padding-right:0;
}

.titre_page {
    font-weight:bold;
    margin:0;
}

.barre_recherche {
    display: flex;
    flex-direction:row;
    height: 50px;
}

.icones {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    padding: 10px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius:45px;
    box-sizing: border-box;
    width:40px;
}

.icone_recherche {
    background-color:#F2F2F2;
    width:40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.texte_recherche {
    display:flex;
    width: 214px;
    border:solid 1px #F2F2F2;
}

.texte_form {
    display:flex;
}

.bouton_recherche_desktop {
    display:flex;
    width: 90px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color:#ffffff;
    border:none;
    font-weight:bold;
}

.bouton_recherche_mobile {
    display:none;
}

.texte_recherche_p {
    margin-left:15px;
    font-weight:bold;
    border: none;
}

.bouton_recherche_p {
    margin-left:15px;
    font-weight:bold;
}

.contenant_filtres {
    display:flex;
    flex-direction:row;
    margin:15px 0 15px 0;
    flex-wrap:wrap;
}

.titre_filtres {
    display:flex;
    font-weight:bold;
}

.bouton_filtres {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight:bold;
    border:solid 2px #F2F2F2;
    border-radius:35px;
    margin:10px;
}

.bouton_filtres:hover {
    background-color:  #DEEBFF;
}

.bouton_filtres_p {
    margin:auto;
    padding: 10px;
    font-weight: bold;
}

.info_ville {
    display:flex;
    flex-direction: row;
    width:440px;
    margin-bottom:20px;
}

.icone_info {
    margin:auto
}

#hebergements {
    display:flex;
    flex-direction: row;
}

.hebergements_ville {
    background-color: #F2F2F2;
    border-radius:20px;
    width:66%;
    margin-right:40px;
    padding:20px;
}

h3 {
    font-weight: bold;
    margin-left:23px;
}

.rangee_hebergements {
    display:flex;
    flex-direction: row;
    height:40%
}

.hebergement_miniature {
    background-color: white;
    width:33%;
    padding: 5px;
    border-radius:25px;
    margin:10px;
    box-shadow: 0px 0px 5px 0px rgb(204 204 204);
}

.img_hebergement {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size: cover;
    width: 100%;
    height: 66%;
    background-position:center;    
}

.img_hebergement1 {
    background-image: url("images/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.tarif {
    font-weight:bold;
}

.img_hebergement2 {
    background-image: url("images/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.img_hebergement3 {
    background-image: url("images/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.img_hebergement4 {
    background-image: url("images/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.img_hebergement5 {
    background-image: url("images/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.img_hebergement6 {
    background-image: url("images/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

h4 {
    font-weight: bold;
    margin: 8px 0 0 15px;
}

.prix_nuit {
    margin: 5px 5px 5px 15px; 
}

.hebergements_populaires {
    background-color: #F2F2F2;
    border-radius:20px;
    width:33%;
    padding:20px;
}

.etoiles {
    display:flex;
    flex-direction: row;
    margin: 5px 5px 5px 15px;
}

.etoile_pleine {
    color:#0065FC;
}

.etoile_vide {
    color:rgb(168, 178, 189);
}

.p_afficher_plus {
    margin-top:30px;
}

.afficher_plus {
    text-decoration:none;
    font-weight:bold;
    color:#000000;
    padding:20px;
}

.titre_populaires {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.icones_stats {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    width:40px;
    display:flex;
    align-items: center;
    margin:0;
}

.hebergement_miniature_pop {
    display:flex;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    border-radius:25px;
    margin:18px;
    box-shadow: 0px 0px 5px 0px rgb(204 204 204);
}

.img_hebergementb {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-size: cover;
    width: 40%;
    height: 170px;
    background-position:center;
}

.img_hebergement1b {
    background-image: url("images/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.img_hebergement2b {
    background-image: url("images/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.img_hebergement3b {
    background-image: url("images/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.etoiles_pop {
    display:flex;
    flex-direction: row;
    margin: 5px 5px 5px 15px;
}

#titre_activite_principal {
    margin: 40px 23px 0;
    font-weight:bold;
}

.caracteristiques_hebergements {
    display:flex;
    flex-direction:column;
    justify-content:space-between
}

.prix_nuit_pop {
    margin: -78px 5px 5px 15px; 
}

.contenant_activites {
    width:25%;
}

.activites {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
    box-sizing: border-box;
    align-items: stretch;
}

.activite_grand {
    border-radius:25px;
    margin:18px; 
    box-shadow: 0px 0px 5px 0px rgb(204 204 204);
    height: 345px;
}

.img_activite {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size: cover;
    background-position:right;
}

.img_activite1 {
    background-image: url("images/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    height: 90%;
}

.titre_activite {
    font-weight:bold;
    margin: 0 auto;
    margin-left:15px;
    padding-top: 8px;
}

.activite_petit {
    border-radius:25px;
    margin:18px;
    box-shadow: 0px 0px 5px 0px rgb(204 204 204);
}

.activite_petit1 {
    height: 58%;
}

.activite_petit2 {
    height: 55%;
}

.activite_petit2 {
    height: 35%;
}


.img_activite2 {
    background-image: url("images/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    height: 82%;
}

.img_activite3 {
    background-image: url("images/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    height: 85px;
}

.img_activite4 {
    background-image: url("images/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    height: 90%;
}

.activite_petit3 {
    border-radius:25px;
    margin:18px; 
    box-shadow: 0px 0px 5px 0px rgb(204 204 204);
    height: 46%;
}

.img_activite5 {
    background-image: url("images/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    height: 78%;
}

.img_activite6 {
    background-image: url("images/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    height: 78%;
}

.container_footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
    padding-right:8%;
    box-sizing:border-box;
}

.footer {
    background-color: #F2F2F2;
    margin-top:50px;
}

.section_footer {
    margin-left:40px;
}

@media all and (max-width:1144px) {
    .img_hebergement { 
        height: 50%;
    }

    .img_hebergementb { 
        width: 75%;
    }

    .img_activite4 {
        height:84%;
    }
}

@media all and (max-width:1024px) {
    .img_activite5 {
        height: 69%;
    }
}

@media all and (max-width:900px) {
    #hebergements {
        flex-direction: column-reverse;
    }

    .hebergements_populaires {
        width:100%;
        box-sizing: border-box;
    }

    .hebergements_ville {
        width:100%;
        box-sizing: border-box;
        margin-top:20px;
        height:600px
    }

    .img_hebergementb { 
        width: 40%;
    }

    .img_activite2 {
        height:72%;
    }

    .img_activite5 {
        height:66%;
    }

    .img_activite6 {
        height:66%;
    }
}

@media all and (max-width:667px) {
    .rangee_hebergements {
        height: 45%;
    }
}

@media all and (max-width:768px) {
    .activites {
        flex-direction: row;
        height:auto;
        flex-wrap: wrap;
    }

    .contenant_activites {
        width: 48%;
    }

    .activite_petit1 {
        height: 48%;
    }

    .activite_petit2 {
        height: 38%;
    }

    .activite_petit3 {
        height: 43%;
    }

    .img_activite2 {
        height: 82%;
    }

    .img_activite3 {
        height: 76%;
    }

    .img_activite4 {
        height: 88%;
    }

    .img_activite5 {
        height: 77%;
    }

    .img_activite6 {
        height: 74%;
    }

}

@media all and (max-width:570px) {
    .hebergements_ville {
        height: 650px;
    }

    .rangee_hebergements {
        height: 42%;
    }

    .img_activite5 {
        height: 70%;
    }

    .img_activite6 {
        height: 77%;
    }

    .img_activite4 {
        height: 84%;
    }
}

@media all and (max-width:425px) {
    .container {
        margin:0;
        padding:0;
        max-width:425px;
        box-sizing: border-box;
    }

    .header_desktop {
        display:none;
    }

    .header_mobile {
        display:block;
    }

    .header_mobile1 {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }

    .titre_page, .soustitre_page, .info_ville {
        margin: 20px;
    }
    .barre_recherche {
        justify-content: center;
    }

    .inscription {
        padding:0;
    }

    .puces_nav_desktop {
        justify-content: space-around;
        border-bottom: solid 2px #F2F2F2;
        padding: 20px 0;
        margin-bottom: 25px;
    }

    .nav:hover {
        border-top:none;
        border-bottom: solid 2px #0065FC;
    }

    .info_ville {
        width:85%;
    }

    .info {
        padding-left:10px;
    }

    .bouton_recherche_desktop {
        display:none;
    }

    .bouton_recherche_mobile {
        display:flex;
        width: 40px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #0065FC;
        color:#ffffff;
        border:none;
        font-weight:bold;
    }

    .fa-search {
        margin:auto;
    }

    .hebergements_populaires {
        border-radius:0;
    }

    .hebergements_ville {
        height:auto;
        background-color: #ffffff;
        margin:0 auto;
    }

    .rangee_hebergements {
        flex-direction: column;
    }

    .hebergement_miniature{
        width:100%;
        height:230px;
        box-sizing: border-box;
        margin:10px auto;
    }

    .img_hebergement {
        height:60%;
    }

    .hebergement_miniature_pop {
        margin: 18px 0;
    }

    .activites {
        flex-direction: column;
        height:auto;
    }

    .contenant_activites {
        width:auto;
        margin: 0 20px;
    }

    .activite_grand, .activite_petit {
        height:200px;
    }

    .img_activite1, .img_activite2, .img_activite3, .img_activite4, .img_activite5, .img_activite6 {
        height:80%;
    }

    .container_footer {
        flex-direction: column;
        padding:0;
    }

}
