@font-face {
	font-family:"Raleway";
	src: url("images/Raleway.ttf");
}

body {
	display:block;
	font-family: Raleway, Georgia, Sans-serif;
	margin:0;
}

header {
    display: flex;
	flex-direction: row;
    margin-left:40px;
}

.header_nav_desktop {
	/* margin-right:20px; */
    display: flex;
    flex-direction: row;
	justify-content: flex-end;
	align-items: center;
    width: 100%;
}

nav, a {
    color:#000000;
    text-decoration: none;
    padding: 40px;
}

.nav_selection {
    color:#0065FC;
    text-decoration: none;
    padding: 40px;
    border-top: solid 2px #0065FC;
}

.inscription {
    color:#0065FC;
    font-weight:bold;
}